.btn{
    margin-right: 5px;
    color: white;
}

.btn:hover{
    color: white;
}

.markedAsDone{
    text-decoration: line-through;
    color: #777;
}

.tableActions{
   width: 117px;
}

.todoForm{
    padding-bottom: 60px;
}